/* style.css */
body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 40px 0;
  color: black;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 0px; 
  background: repeating-linear-gradient(
    to bottom,
    yellow 0px,
    yellow  10px
    transparent 10px
    transparent 20px
  );
  border: 2px dashed black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
  background: inherit;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  left: -13px;
  justify-content: flex-end;
  transform: translateX(-40px);
}

.timeline-item:nth-child(even) {
  left: 47%;
  justify-content: flex-start;
  transform: translateX(40px);
}

.timeline-content {
  padding: 15px;
  background: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(220, 140, 140, 0.1);
  max-width: 800px;
}

.timeline-content img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.timeline-dua {
  padding: 15px;
  background: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(220, 140, 140, 0.1);
  max-width: 1000px;
}
.timeline-dua img {
  display: horizontal;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 130px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.circle-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 3px solid gold;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  color: black;
}

.year {
  display: inline-block;
  padding: 10px 10px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 4px;
}

.yellow { background: #FFD700; }
.purple { background: #A020F0; color: white; }
.orange { background: orange; }

/* Responsive */
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item:nth-child(even) {
    left: 0;
  }
}
